exampleFiles/example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:example:schema" targetNamespace="urn:example:schema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <element name="example">
    <annotation>
      <documentation>root element</documentation>
    </annotation>
    <complexType>
      <sequence>
        <element name="meta" minOccurs="0" type="tns:choiceType"/>
        <element name="product" minOccurs="0" maxOccurs="unbounded" type="tns:loggingType"/>
      </sequence>
      <attribute type="xs:dateTime" use="required" name="created"/>
    </complexType>
  </element>
  <complexType name="choiceType">
    <annotation>
      <documentation>complexType showing a choice</documentation>
    </annotation>
    <choice>
      <element name="either" minOccurs="1" maxOccurs="unbounded" type="tns:lengthRestricitionType"/>
      <element name="or" minOccurs="2" maxOccurs="4" type="tns:lengthRestricitionType"/>
    </choice>
    <attribute type="xs:anyURI" use="optional" name="url"/>
  </complexType>
  <complexType name="loggingType">
    <annotation>
      <documentation>complexType decribing a log entry</documentation>
    </annotation>
    <all>
      <element name="time" type="xs:dateTime"/>
      <element name="message" type="xs:string"/>
    </all>
    <attribute use="required" name="logLevel">
      <simpleType>
        <restriction base="xs:string">
          <enumeration value="error"/>
          <enumeration value="warning"/>
          <enumeration value="info"/>
          <enumeration value="debug"/>
          <enumeration value="trace"/>
        </restriction>
      </simpleType>
    </attribute>
  </complexType>
  <simpleType name="lengthRestricitionType">
    <annotation>
      <documentation>a simple string with a max length</documentation>
    </annotation>
    <restriction base="xs:string">
      <maxLength value="255"/>
    </restriction>
  </simpleType>
</schema>
